body {
  background-color: #f9f9f9;
  height: auto;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  width: 100%
}

.header > div {
  display: inherit;
  height: 100%;
}

.header {
  width: 100%;
  height: 3.75rem;
  background-color: #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#rightmenu {
  flex-shrink: 0;
}

#rightmenu > .item {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#breadcrumb.item {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: left;
}

#breadcrumb > a:last-child {
  margin-right: 0.75rem;
}

#breadcrumb > a:first-child {
  margin-left: 0.75rem;
}

#breadcrumb > a:not(:last-child) {
  color: #ccc;
}

#breadcrumb > a:hover {
  color: #fff;
}

#breadcrumb > a:not(:last-child),
#breadcrumb > i {
  margin-right: 0.25rem;
}

.path-separator {
  color: #eee;
  transform: rotate(75deg);
  font-size: smaller;
}

.header .item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header a {
  color: #eee;
  text-decoration-line: none;
  font-weight: 500;
}

.header a.item:hover {
  background: rgba(255,255,255,.08);
}

.item > img {
  height: auto;
  width: 2.5em;
  padding: .5em .5em .5em 0;
  max-width: 100%;
  max-height: 100%;
}

#content {
  min-width: 80%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

#entries > * + * {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.entry {
  min-height: 2.7rem;
  max-height: 10rem;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.entry-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: .25rem 1rem;
  color: #111;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
  line-height: normal;
}

.entry-link > .content {
  margin-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-flow: wrap;
  max-height: 10rem;
}

.entry-link > i {
  margin-right: 1rem;
  font-size: large;
}

.highlightable:hover {
  -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
}

.entry-buttons {
  display: flex;
  align-items: stretch;
}

.entry-button {
  width: 3rem;
  display: flex;
  align-items: stretch;
  align-content: center;
  position: relative;
  justify-content: center;
  color: #111;
  cursor: pointer;
}

.entry-button > i{
  margin: auto;
}

.entry-button::before {
  content:"";
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 25%;
  left: 0;
  height: 50%;
  width: 1px;
}

.size-badge {
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  background-color: #ddd;
  font-size: small;
  font-weight: 500;
}

.danger:hover {
  background-color: #b00;
}

.danger {
  color: #eee;
  background-color: #d00;
}

.double-slash {
  transform: translateY(6px) translateX(-2px);
  color: #f9f9f9;
}

.empty {
  display: flex;
  height: 12rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  background-color: #f7f7f7;
}

.empty > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.empty > hr {
  height: 75%;
  width: 1px;
  margin: 0;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}

.spacer {
  height: 2rem;
}

.tooltip.tooltip-large::after {
  width: 20rem;
  white-space: pre-wrap;
}

.button:hover {
  background-color: #000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  color: #fff;
}

.button {
  text-decoration: none;
  color: #eee;
  background-color: #111;
  padding: .5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}
