/*! Spectre.css v0.5.8 | MIT License | github.com/picturepan2/spectre */

.tooltip {
  position: relative;
}

.tooltip::after {
  background: rgba(26, 26, 26, .95);
  border-radius: .1rem;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: .7rem;
  left: 50%;
  max-width: 320px;
  opacity: 0;
  overflow: hidden;
  padding: .2rem .4rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transform: translate(-50%, .4rem);
  transition: opacity .2s, transform .2s;
  white-space: pre;
  z-index: 300;
}

.tooltip:hover::after {
  opacity: 1;
  transform: translate(-50%, -.2rem);
}

.tooltip[disabled],
.tooltip.disabled {
  pointer-events: auto;
}

.tooltip.tooltip-right::after {
  bottom: 50%;
  left: 100%;
  transform: translate(-.2rem, 50%);
}

.tooltip.tooltip-right:hover::after {
  transform: translate(.2rem, 50%);
}

.tooltip.tooltip-bottom::after {
  bottom: auto;
  top: 100%;
  transform: translate(-50%, -.4rem);
}

.tooltip.tooltip-bottom:hover::after {
  transform: translate(-50%, .2rem);
}

.tooltip.tooltip-left::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  transform: translate(.4rem, 50%);
}

.tooltip.tooltip-left:hover::after {
  transform: translate(-.2rem, 50%);
}
